@font-face{

	font-family: "segoiui";
	src:url('../fonts/segoeui.ttf');

}
body
{
	background-color: #DFDFDF;
  font-family: "segoiui", verdana, serif;
}

h1
{
  font-size: 1.5em;
  margin:0px;
}


.control-group
{

}

/* Identity */
#identity
{
  font-size: 2.0em;
  color:#FFFFFF;
  padding-left:20px;
  margin-top: -20px;
  padding-top: 0px;
}
/* End Identity */

/* Top Row Control */
#toprow
{
  background-color: #8BC53F;
  height: 45px;
}

.toprowleft
{
  float: left;
  display: inline-block;
  width: 20%;
}

.toprowright
{
  float: right;
  display: inline-block;
  width: 40%;
}

#logincolumn
{
  width: 40%;
  margin-top: 5px;
}

#loggedincolumn
{
  width: 200px;
  
  margin-top: 5px;
}


/* Top Login Area */
#loginbutton
{
	display:inline-block;
	width:20%;
  height: 25px;
  background-color: #00CBE9;
}



#signupbutton 
{
  display:inline-block;
  width:20%;
  height:25px;
}

#loginbutton >button{
	width:100%;
  height: 100%;
  border: none;
}

#signupbutton >button
{
  width:100%;
  height: 100%;
  border: none;
  background-color: #D23988;
}

#usernameandpassword
{
	display:inline-block;
	width:50%;

}
#usernameandpassword >input
{
	width:45%;
	margin-bottom: 10px;
  height: 30px;
  display: inline-block;
}

#usernameandpassword > button
{
    border:none;
    width:100%;
}

#Login
{
	vertical-align: middle;
}
/* End Top Login Area */

/* Call to action area */
#topexplain
{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 3.5em;
  font-family: 'Gochi Hand', cursive;
}

.hugeicon
{
  font-size: 6.0em;
}

#calltoaction
{
  text-align: center;
}

.ctatext
{
  font-size: 1.5em;
  margin-top: 20px;

}


.cta-inner
{
  width: 80%;
}


/* End call to Action Area */

#slides
{
  position: relative;
}

/* Slide deck */
#slidetext
{
  position: absolute;
  top: 30%;
  right: 10%;
  z-index: 999;
  width: 20%;
  min-width: 300px;

  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;

}

#slidetext > button
{
  width: 100%;
}

#st-leader
{
  font-size: 1.5em;
}

#st-follower
{
  font-size: 1.2em;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  }

.rslides li {
 -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

/* end slide deck */

/* Search box */


#search{
  width:75%;
  display:inline-block;
  height:30px;
}

#searchbox
{
	display:inline-block;
}

#searchtext
{
	display:inline-block;
}

#search >form
{
	display:inline-block;
}




#searchwide
{
	margin-top:30px;
	width:100%;
	font-size: 1.4em;

  display: inline-block;
}



#browsecharities
{
  display:inline-block;
  width:100%;
  border-radius: 0px;
  background-color: #D23988;
  height:100%;
  border:none;
  font-size:1.4em;
  color: #FFFFFF;
}


#browsebutton
{
  width:20%;
  display:inline-block;
  border-radius: 0px;
  height:30px;

}

/* End search box */

/* blog */

#blog
{
	margin-top: 30px;
	display:inline-block;
	background-color: #FFFFFF;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  margin-bottom: 30px;
}

#climber 
{
	width:378px;
	height:615px;
	display:inline-block;
}

#myblog
{
	display:inline-block;
	font-family: "segoiui", verdana, serif;
	width:65%;
	vertical-align: top;

}


#blogimage
{
  background-image:url('../img/test3.jpg');
  width:30%;
  height:800px;
  display:inline-block;
  background-repeat: no-repeat;
  font-size: 2em;
  color:#FFFFFF;
  background-size: 800px;
}


/* End blog */

/* Footer */
#footer
{
  text-align: center;
}

#footer > p
{
  margin: 0px;
}



/* end footer */

/* logged in area */


#envelope
{
  font-size: 1.5em;
}

#reputation
{
  font-size: 1.5em;
  padding-left:20px;
  margin-top: -5px;
}

/* End logged in area */

/* Profile */
#profiletop
{
  margin-top: 20px;
}

#profilepic
{
  width:32px;
  height:32px;
  margin-left:20px;
}

#profilebigcontainer 
{
  display: inline-block;
  width:200px;
  height:200px;
  overflow:hidden;
}

#profilebigcontainer >img
{
  width:100%;
  height:100%;
}
#profilebiocontainer
{
  display: inline-block;
  vertical-align: top;
  padding:0px;
  width:80%;
}
#profilebiocontainer >h2
{
  margin-top: -5px;

}

.recentactivitypost
{
  border:1px #383838 solid;
  margin-top: 30px;
}

#post
{
  border:1px black solid;
  margin:30px;
  padding:10px;

}
.item>img {

  width:200px;
  height:150px;
}

#postleft
{
   display: inline-block;
   vertical-align: top;

}
#postright
{
  display:inline-block;
  vertical-align: top;
  width:80%;
}
#posttext
{
  width:100%;
  height:100px;
}
 

/* End profile */
/* Get Started */



/* End Get Started */


/* Media block mobile */
@media (max-width: 767px){
  #logincolumn
  {
  	display:none;
  	color:#469400;
  }

  .hugeicon
  {
    margin-top: 40px;
  }

}
/* End media block mobile */
