@font-face{

	font-family: "segoiui";
	src:url('../fonts/segoeui.ttf');

}
body
{
	background-color: #DFDFDF;
  font-family: "segoiui", verdana, serif;
}

h1
{
  font-size: 1.5em;
  margin:0px;
}
label
{
  width:100%;

}
  

.control-group
{

}

.margin-top-20
{
  margin-top: 20px;
}

/* Identity */
#identity
{
  font-size: 2.0em;
  color:#FFFFFF;
  padding-left:20px;
  margin-top: -20px;
  padding-top: 0px;
}


#identity a
{
  color: white;

}

#identity a:hover
{
  text-decoration: none;
}
/* End Identity */

/* Top Row Control */
#toprow
{
  background-color: #8BC53F;
  height: 45px;
}

.toprowleft
{
  float: left;
  display: inline-block;
  width: 20%;
}

.toprowright
{
  float: right;
  display: inline-block;
  width: 40%;
}

#logincolumn
{
  width: 40%;
  margin-top: 5px;
}

#loggedincolumn
{
  width: 200px;
  
  margin-top: 5px;
}


/* Top Login Area */
#loginbutton
{
	display:inline-block;
	width:20%;
  height: 25px;
  background-color: #00CBE9;
}



#signupbutton 
{
  display:inline-block;
  width:20%;
  height:25px;
}

#loginbutton >button{
	width:100%;
  height: 100%;
  border: none;
}

#signupbutton >button
{
  width:100%;
  height: 100%;
  border: none;
  background-color: #D23988;
}

#usernameandpassword
{
	display:inline-block;
	width:50%;

}
#usernameandpassword >input
{
	width:45%;
	margin-bottom: 10px;
  height: 30px;
  display: inline-block;
}

#usernameandpassword > button
{
    border:none;
    width:100%;
}

#Login
{
	vertical-align: middle;
}
#yourprofileonhome
{
  background-color: #428bca;
  color: white; 
}
#loginlogoutonhome
{
  background-color: #D23988;
  color:white;
}
#welcomeprofile
{
  font-size: 1.5em;
  color: white;
}
/* End Top Login Area */

/* Call to action area */
#topexplain
{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 3.5em;
  font-family: 'Gochi Hand', cursive;
}

.hugeicon
{
  font-size: 6.0em;
}

#calltoaction
{
  text-align: center;
}

.ctatext
{
  font-size: 1.5em;
  margin-top: 20px;

}


.cta-inner
{
  width: 80%;
  margin:0 auto;
}


/* End call to Action Area */

#slides
{
  position: relative;
}

/* Slide deck */
#slidetext
{
  position: absolute;
  top: 30%;
  right: 10%;
  z-index: 999;
  width: 20%;
  min-width: 300px;

  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;

}

#slidetext > button
{
  width: 100%;
}

#st-leader
{
  font-size: 1.5em;
}

#st-follower
{
  font-size: 1.2em;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  }

.rslides li {
 -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

/* end slide deck */

/* Search box */


#search{
  width:75%;
  display:inline-block;
  height:30px;

  margin-top:30px;
}

#searchbox
{
	display:inline-block;
}

#searchtext
{
	display:inline-block;
}

#search >form
{
	display:inline-block;
}


#searchform
{
  width: 100%;
}

#searchwide
{
	width:100%;
	font-size: 1.4em;

  display: inline-block;
}



#browsecharities
{
  display:inline-block;
  width:100%;
  border-radius: 0px;
  background-color: #D23988;
  height:100%;
  border:none;
  font-size:1.4em;
  color: #FFFFFF;
}


#browsebutton
{
  width:20%;
  display:inline-block;
  border-radius: 0px;
  height:30px;
  
  margin-top:30px;

}

#getstartedbutton
{
  width:100%;
}

/* End search box */

/* blog */

#blog
{
	margin-top: 30px;
	display:inline-block;
	background-color: #FFFFFF;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  margin-bottom: 30px;
}

#climber 
{
	width:378px;
	height:615px;
	display:inline-block;
}

#myblog
{
	display:inline-block;
	font-family: "segoiui", verdana, serif;
	width:65%;
	vertical-align: top;
  padding: 8px;

}


#blogimage
{
  background-image:url('../img/volunteering.jpg');
  width:30%;
  height:685px;
  display:inline-block;
  background-repeat: no-repeat;
  font-size: 2em;
  color:#FFFFFF;
  background-size: 470px;
  padding-left: 15px;
  background-position: top left;
  font-weight: bold;
}


/* End blog */

/* Footer */
#footer
{
  text-align: center;
  margin-bottom: 10px;
}

#footer > p
{
  margin: 0px;
}



/* end footer */

/* logged in area */


#envelope
{
  font-size: 1.5em;
}

#reputation
{
  font-size: 1.5em;
  padding-left:20px;
  margin-top: -5px;
}

#blogfontsize
{
  font-size: 1.3em;
}

/* End logged in area */

/* Profile */
#descriptiononprofile
{
  width:100%;
  height:130px;


}
#profiletop
{
  margin-top: 20px;
}

#buttonprofile
{
  background-color: #428bca;
  color:white;
  float: right;
  margin-top: 10px; 
}

#profilepic
{
  width:32px;
  height:32px;
  margin-left:20px;
}

#profilebigcontainer 
{
  display: inline-block;
  width:200px;
  height:200px;
  overflow:hidden;
}

#profilebigcontainer >img
{
  width:100%;
  height:100%;
}
#profilebiocontainer
{
  display: inline-block;
  vertical-align: top;
  padding:0px;
  width:80%;
}
#profilebiocontainer >h2
{
  margin-top: -5px;

}

.recentactivitypost
{
  border:1px #383838 solid;
  margin-top: 30px;
  border-radius: 10px;
  background-color: #FFFFFF;
}

#post
{
  border:1px black solid;
  margin:30px;
  padding:10px;

}
.item > img {

}

#postleft
{
   display: inline-block;
   vertical-align: top;
   margin-left: 0px;
    font-size: 1.2em;

}

#authorsonprofilepage
{
  margin-left: 60px;
}
#nameofauthoronprofilepage
{


}

.nameofreviewer
{
  font-size: 1.5em;
  margin-left: 30px;

}
#by
{
 margin-left: 80px;
 font-size:;
}

#postright
{
  display:inline-block;
  vertical-align: top;
  width:80%;
}
#posttext
{
  width:100%;
  height:100px;
}

#profileimage
{

  width: 100%;
  height: 100%;
  margin:0 auto;
  position:relative;
}
#profilelogo
{

  width:100%;
}
#nameofprofile
{
  font-size: 2.5em;
  font-size: 50px;
  line-height: 40px;
  padding-bottom: 10px;
}
#profilereputation
{

  background-color: #8BC53F;

  text-align: center;
  color:white;
  font-size: 1.5em;
}
#charitybio
{
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

#profilecontanctinfo
{

}

#recentactivity
{

  margin-left: 0px;
  background-color: #FFFFFF

}
#charityonprofilepagereview
{
  width:0px;
  font-size: 1.5em;
  border-top: -30px;
  margin-left: 30px;

}
#ageinprofile
{
  display: inline-block;
  font-weight: bold;
}
#ageinprofileanswer
{
  display:inline-block;
}
.author
{

}
.descriptions
{

  display:inline-block;
  margin-left: 60px;

  vertical-align: top;

}
#charitywriteupinfo
{
  display: inline-block;
}

#picturesofsomeonevolunteering
{
  font-size: 2.5em;
  margin-bottom: -50px;
  margin-top: 30px;
}
#whoisblank
{
  font-size: 1.5em;
  margin-bottom: -20px;
  font-weight: bold;
}
.descriptions
{
  margin-top: 10px;

}

#percentsonthecharityandtext
{

}

#nameofcharityandauthor
{
  display: inline-block;
  width:25%;
  margin: 0px;
}

#descriptionandpercentageofcharity
{
  display: inline-block;
  width:65%;
  margin:0px;
  vertical-align: top;

}

#reviewsupercontainer
{

}

.reviewcontainer
{
  display:block;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding:10px;


 
}
.reviewcontainerleft
{
  display:inline-block;
  width:25%;
  vertical-align: top;
  margin-left: 10px;
}
.nameofcharityinreview
{
  font-size: 2em;
  color:#8BC53F;
  font-weight: bold;
}
.byreview
{

}
.reviewcontainerright
{
  display: inline-block;
  width:65%;
}
.experienceinreview
{
  font-size: 1.3em;
  color: #357ebd;
  font-weight: bold;
  padding-top: 10px;
}

.textinreview
{
  padding-right: 15px;
  padding-top: 10px;

}

.ratingsinreview
{
  display: inline-block;
  font-size: 1.5em;
  color:#D23988;
  font-weight: bold;
}
.percentageinreview
{
  display: inline-block;
  font-size: 1.5em;
}

.helpfulinreview
{
  border-radius: 10px;
  float:right;

}
.nothelpfulinreview
{
  float: right;
  background-color: #D23988;
  border-radius: 10px;
  color:white;
  margin-left: 5px;

}
#reviewtitleinprofile
{
  font-size:2.5em;
  margin-top: 50px;

}
#sketchybuttons
{
  width:200px;
  display:inline-block;
  float:right;
}




/* End profile */

/* Get Started */



/* End Get Started */

/* Start Charity Profile */

#charityimage
{
  width:80%;
  margin-top: 4%;
  border-radius: 10px;
}
#charitybiobackground
{
  margin-top:15px;
  background-color: #FFFFFF;
  padding:10px;
 
  border-radius: 10px;


}
#nameofcharity
{
  font-size: 2.5em;
  margin-top: 1%;
  font-size: 50px;

}
#tableinformation > tbody > tr > td
{
  padding:5px;
  border: #AFAEB0 1px solid;
  border-radius: 10px;
  font-size: 1em;
}

#percentagecharity
{
  font-size: 2.5em;
  background-color: #D23988;
  width:120px;
  border-radius: 20px;
  padding-left: 30px;
  padding-bottom: 3px;
  margin-top: 10px;
  margin-left:50px;
}
#collage
{
  margin-top: 10px;
  margin-bottom: 40px;

}

#calendar
{
  background-color: #FFFFFF;
  padding: 20px;
}

#calendarcontrol
{
  float: right;
}
.profileinfo
{
  display:inline-block;
  font-weight: bold;
  padding-bottom: 10px;
  width:100px;
}
.profileinfovalue
{
  display: inline-block;
  margin-top: 5px;
  font-size: 1.2em;

}
#charityprofiletitle
{
  font-weight: bold;
  font-size: 1.1em;
}
#whyustitle
{
  font-size: 1.1em;
  font-weight: bold;
}
#charitybiowhyus
{
  background-color: white;
 
  margin-top: 20px;
  border-radius: 10px;
  
  padding: 10px;

}
.photosofcharitiesvolunteering
{
  font-size: 35px;
  margin-bottom: 

}
#insideoroutsidequestion
{
  font-weight: bold;
}
#writingincharity
{
  display:inline-block;
  width:70%;

}
#writeareviewaboutcharity
{
  font-size: 2.0em; 
  margin-top: 15px;

}
.textpost
{
  display:inline-block;
  width:110px;
  font-size: 1.5em;
  margin-bottom: 45px;
  margin-left: 10px;


}
#writeareviewcharity
{
  width:100%;
  height:150px;
  border-radius: 20px;
}

#textareaincharityedit
{
  width:100%;
  height:100px;
}
#secondtextareacharity
{
  width:100%;
  height: 100px;
}
#dropdownsincharity
{
  vertical-align: top;
  margin:0;
  font-size: 1.1em;

}
.textareainaddress
{
  height:20px;
  width:200px;
  padding:0;
  margin-top:5px;
}

#hoursvolunteer
{
  width: 50px;
}

#ratingincharity
{
  vertical-align: top;
  font-size: 1.4em;
}
#hoursvolunteered
{
  vertical-align: top;
  font-size: 01.1em;
}
.textpost.btn.btn-primary
{
  display: inline-block;
}
#besidethereview
{
  display: inline-block;
  width:25%;
  height:150px;
  vertical-align: top;
}
#charityphotosincharity
{
  font-size: 1.7em;
  margin:0;
}

#pleaselogin
{
  margin-top: 40px;
  margin-bottom: 40px;
}




/* End Charity Profile */

/* Getting Started Page */
#gettingstartedindividual
{
  width:100%;
}


.whatiscanvolgettingstarted
{
  background-color: #428BCA;
  width:95%;
  height:;
  color:white;
  margin-top: 40px;
  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 30px;
}
.openerquestionleft
{
  display: inline-block;
  font-size: 4.5em;
  font-family:"Gochi Hand", verdana, sarif;
  width:45%;
  margin-left: 10px;
}

.openerquestionright
{
  display: inline-block;
  width:45%;
  font-size: 1.5em;
  margin-left:;
  vertical-align: top;
  margin-top: 20px;
}
.gettingstartedstyle
{
  background-color: #D23988;
  width:95%;
  height:;
  margin-top: 70px;
  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 30px;
}
#secondgettingstarted
{
  background-color:#D23988;
}
#secondslideleft
{

}
#secondindividualleft
{
  font-size: 4em;
  font-family:"Gochi Hand", verdana, sarif;
  color:white;
  margin-left: 10px;
  display: inline-block;
  width:45%;
}
#secondindividualright
{
  font-size: 1.5em;
  color:white;
  width:45%;
  display:inline-block;
  vertical-align: top;
  margin-top: 15px;
}

#getvolunteering
{
  background-color: #8BC53F;
  border:none;
  width:40%;
  height:40px;
  color: white;
  font-size: 1.5em;
  margin-bottom: 30px;
  margin-top: 40px;
  display:inline-block;
  margin-right: 10px;
}
#thirdgettingstarted
{
  background-color: 
}
#browsecharitiesongetstarted
{
   background-color: #8BC53F;
  border:none;
  width:40%;
  height:40px;
  color: white;
  font-size: 1.5em;
  margin-bottom: 30px;
  margin-top: 40px;
  display: inline-block;
  margin-left:80px;

}
#bigdivingetstarted
{

  margin: 0 auto;
  display:table;
  width:50%;
}


/* End Getting Started Page */

/* Start Browse Charities Page */
#browsecharitiespage
{
  margin-bottom: 30px;
}
#idealcharityforyou
{
  font-size: 2.5em;
  margin-left: 30px;
  margin-top: 20px;

}
#charitylink
{
  color:#333;
}

.browsecharitiescharities:hover
{
  background-color: grey;
}

.filterdropdowns
{
  margin-left: 30px;
  margin-top: 20px;
  font-size: 1.5em;
  margin-bottom: 30px;
}
.browsecharitiescharities
{
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 30px;
  padding-bottom: 10px;
  width: 80%;
}
.charitylistimage
{
  width:83%;
  padding-top: 10px;
  padding-left: 7px;

}
.browsecharitiesleft
{
  width:150px;
  height:100%;
  display: inline-block;
}
.browsecharitiesright
{
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
}
.titleinbrowsecharities
{
  font-size: 2em;
  margin: 0;

}
.addressinbrowsecharities
{
 font-size: 1em;
}
.ratingsinbrowsecharities
{
  border-radius: 10px;
  background-color: #D23988;
  color:white;
  font-size: 1.4em;
  padding: 1px;
  padding-left: 5px;
  display:inline-block;
  width: 70px;
}
.reviewsinbrowsecharities
{
  display: inline-block;
  margin-left:5px;
  background-color: #428bca;
  border-radius: 10px;
  font-size: 1.4em;
  color: white;
  padding:1px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 2px;
  width: 150px;
}
#sortonbrowsecharities
{
  margin-left: 100px;
}


/* End Browse Charities Page */

/* Start Sign Up Page */

#canvoler
{
  font-size: 2.5em;
  margin: 20px;
}
.signuplabel
{
  font-size: 1.3em;
  margin-left: 20px;
 
}
.signupinput
{
  border-radius: 10px;
}
.signupform
{
  margin-top:30px;
}
#yearofbirthsignup
{
  width:90px;
}

#quadrantsignup
{
  width:100px;
  height:15px;
}

#signuppage h2
{
  margin-bottom: 50px;
}


/* End Sign Up Page */
/* Start Login Page */

#usernameinlogin
{
  border-radius: 10px;
  width:100%;
  height:30px;

}
#passwordinlogin
{
  border-radius: 10px;
  width:100%;
  height:30px;
}
#logininformation
{
  display:inline-block;
  width:500px;
}

#logininlogin
{
  display: inline-block;
  width:500px;
  text-align: right;
  vertical-align: top;
  margin-right: 50px;
}
#forgotpasswordinpassword
{
  text-align: center;
}
#buttoninlogin
{
  background-color: #8BC53F;
  outline:none;
}





/* End Login Page */

/*Start Success Page */

  #signupsuccess
  {
    background-color: white;
    margin: 50px;
    border-radius: 10px;
    padding:1px;
  }
  #congratsinsuccess
  {
    font-size: 4em;
  }
  #certifiedinsucess
  {
    font-size: 3em;
  }
  #browsingcanvolinsuccess
  {
    font-size: 1.5em;

  }
  #successinsuccess
  {
    margin: 30px;
  }
  #browseinsuccess
  {
    background-color: #428BCA;
    vertical-align: top;
    float:right;
    color: white;
    font-size: 1.5em;
    margin-right: 80px;
    margin-top: 30px;
    
  }
  #homeinsuccess
  {
    background-color: #D23988;
    vertical-align: top;
    float:right;
    color: white;
    font-size: 1.5em;
    margin-right: 51px;
    margin-top: 30px; 
    width:178px;
  }


/* End Success Page*/

/*Start Activated */

#activatedonprofile
{
    background-color: #428BCA;
    vertical-align: top;
    float:right;
    color: white;
    font-size: 1.5em;
    margin-right: 80px;
    margin-top: 30px;
}

#activatedpage
{
  background-color: white;
  border-radius: 10px;
  margin: 30px;
}
#activatedtext
{
  font-size: 4em;
  margin-left: 20px;
}

#activatedonprofile
{
  float:right;
  vertical-align: top;
}

#detailsofactivated
{
  font-size: 1.5em;
  margin-left: 20px;
  padding-bottom: 10px;
}

/* End Activated */

/* Start Create Charity */

  #createcharityeasy
  {
    font-size: 3em;
    margin: 20px;
  }
  #charitynameincreate
  {
    font-size: 1.3em;
    float:left: 15px;
    display:inline-block;
  }
  #charitynameincreate
  {
    width:400px;
    margin-left: 40px;
    display:inline-block;
  }

  #completeregistrationincreate
  {
    width:200px;
    margin: 50px;
  }
  #noreviewsincharity
  {
    font-size:2.5em;
  }
/* End Create Charity */
/* Start Contact */
  #alltheinformationinthisbox
  {
    background-color: #FFFFFF;
    margin: 20px;
    border-radius: 10px;
  }
  #contactusfirsttitle
  {
    font-size: 3em;
    text-align: center;
  }

  .contactustitles
  {
    font-size: 1.5em;
    text-align:middle;
  }
  #contactinformationincontact
  {
    width:600px;
    margin:0 auto;
  }
  .classforinputsincontact
  {
    width:100%;
  }
  #textareaincontact
  {
    height:130px;
  }
  #buttonincontact
  {
    background-color: #8BC53F;
    color:#FFFFFF;
    margin-bottom: 10px;
  }
/* End Contact*/
/* Start Forgotten Password */
  #alltheinformationinpassword
  {
    background-color: #FFFFFF;
    margin: 20px;
    border-radius: 10px;
  }
  #titleinpassword
  {
    font-size: 3em;
    text-align: center;
  }
  .passwordtitles
  {
    font-size: 1.5em;
    text-align:center;
    display: inline-block;
    margin-left: 100px;
  }
  .passwordinputs
  {
    width:60%;
    margin:0 auto;
    display: inline-block;
  }
  #forottteninpassword
  {
    width:600px;
    margin:0 auto;
    display: inline-block;
  }
  #passwordemailinpassword
  {
    font-size: 2em;
    text-align: center;
  }
  #forgotpasswordinpassword
  {
    font-size: 1.3em;
  }
/* End Forgotten Password */
/* Media block mobile */
@media (max-width: 767px){
  #usernameandpassword
  {
  	display:none;
  }
  #loginbutton
  {
    width:46%;
  }
  #signupbutton
  {
    width: 46%;
  }
  #charityimage
  {
    width:100%;
    margin-left:0%;
  }
  .hugeicon
  {
    margin-top: 40px;
  }
  .reviewcontainerleft
  {
    display: block;
  }
  .reviewcontainerright
  {
    display: block;
  }
  #logininlogin
  {
    display:none;
  }
  #logininformation
  {
    width:100%;
  }
  #sketchybuttons
  {
    display:block;
    background-color: white;
    float:none;
    padding:10px;
    width:300px;
  }
  .openerquestionleft
  {
    display: block;
    font-size: 2.5em;
    width:100%;

  }
  .openerquestionright
  {
    width: 100%;
    padding: 5px;
  }
  #bigdivingetstarted
  {
    width:100%;
  }
  #browsecharitiesongetstarted
{

  width:100%;
  height:40px;
  margin-bottom: 20px;
  margin-top: 0px;
  display: block;
  margin-left:0px;

}

#getvolunteering
{

  width:100%;
  height:40px;
  margin-bottom: 10px;
  margin-top: 0px;
  display:block;
  margin-right: 0px;
}

#blogimage
{
  background-image:none;
  width:100%;
  height:40px;
  display:block;
  background-repeat: no-repeat;
  font-size: 2em;
  color:#428bca;
  background-size: 470px;
  padding-left: 15px;


}
#myblog
{
  width:100%;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

#slidetext
{
  display:none;
}
#browsebutton
{
  display: block;
  width:100%;
  border-radius: 0px;
  height:30px;
  margin-top:5px;
}
#search
{
  width:100%;
}
.browsecharitiescharities
{
  width:100%;
  margin-left: 0;

}
.titleinbrowsecharities
{
  display: inline-block;
}
#topexplain
{
  font-size: 3em;
}
#sortonbrowsecharities
{
  margin: 0;
  margin-left: 30px;
  margin-top: 20px;
}
.filterdropdowns
{
  margin-bottom: 0;
 
}
.titleinbrowsecharities
{
  font-size: 1.2em;
}
#besidethereview
{
  display:block;
  width: 100%;
}

#writingincharity
{
  width: 100%;
}
#ratingincharity
{
  display: inline-block;
  width: 45%;
}
#hoursvolunteered
{
  display: inline-block;
  width:45%;
  font-size: 1.2em;
}
#postincharity
{
  width: 100%;
  margin: 0;
}
#percentagecharity
{
  
  margin: 8px auto;
}
.charitylistimage
{
 width: 100%;
 height: 100%;
}
.titleinbrowsecharities

/* End media block mobile */
